.my_account_template {

    section {
        margin-bottom: 2.5rem;
        overflow: hidden;
        clear: both;
    }

    .btn-logout {
        float: right;
        margin-top: 3rem;
    }

    .button-valid-information {
        display: block;
        clear: both;
    }
}

