.my_account_template {

    h3 {
        font-family: $typo2;
    }

    section {
        overflow: hidden;
        clear: both;
    }

    .first-section {
        margin-top: 5rem;
    }

    hr {
        clear: both;
        margin-top: 3.5rem;
    }

    .form-control {
        border: 1px solid #ddd;
    }

    .btn-logout {
        float: right;
    }
    
    .btn-valid-fund-account {
        margin-left: 1rem;
    }

    .button-valid-information {
        display: block;
        clear: both;
    }

    .users-count-display {
        vertical-align: middle;

        input[type="button"] {
            vertical-align: middle;
        }
        
        .value {
            font-size:3.5rem;
            line-height: 3rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.5rem;
        }
    }

    .button-red {
        &:focus, &:active {
            color: white;
        }
    }
}
