.my_account_template {

    section {
        overflow: hidden;
        clear: both;
    }

    .first-section {
        margin-top: 5rem;
    }

    hr {
        clear: both;
        margin-top: 3.5rem;
    }

    .form-control {
        border: 1px solid #ddd;
    }

    .btn-logout {
        float: right;
    }
    
    .btn-valid-fund-account {
        margin-left: 1rem;
    }

    .button-valid-information {
        display: block;
        clear: both;
    }
}
