.signup_template {

    .title {
        padding-bottom: 52px;
    }

    .signup-wrapper {
        padding: 60px 30px 60px 60px;
        overflow: hidden;
        margin-bottom: 5rem;
    }

    .background-recap {
        padding-top: 90px;
    }

    .stepwizard {
        margin-top: 55px;
        margin-bottom: 40px;

        .stepwizard-step {
            font-family: $typo2;
            color: #dde1e2;
            font-size: 30px;

            p {
                text-align: center;
            }

            .img-step {
                width: 100px;
                height: 100px;
                display: block;
                margin:auto;
            }

            .img-platform {
                background: url(../img/inscription/plateforme-defaut.png)
            }

            .img-coordonnees {
                background: url(../img/inscription/coordonnees-defaut.png);
            }

            .img-valid {
                background: url(../img/inscription/valid-defaut.png);
            }
        }

        .active-step {

            p {
                color: $touareg;
            }

            .img-platform {
                background: url(../img/inscription/plateforme-active.png);
            }

            .img-coordonnees {
                background: url(../img/inscription/coordonnees-active.png);
            }

            .img-valid {
                background: url(../img/inscription/valid-active.png);
            }
        }
    }

    .button {
        padding: 18px 50px 18px 50px;
    }

    .form-control {
        width: 368px;
    }

    .form-group {
        margin-bottom: 3rem;
    }

    #step-1 {
        .agency {
            margin-bottom: 50px;
        }

        .slug {
            margin-bottom: 27px;

            .check-slug-btn {
                font-size: 15px;
                border: none;
                background: $blue;
                color: white;
                padding: 9px 15px;
                display: block;
                margin-top: 1rem;
            }

            .check-slug-btn:hover {
                background : $touareg !important;
            }
        }

        .domain {
            display: inline-block;
            margin-left: 1rem;
            font-size: 20px;
        }

        .verification-success {
            background: $green !important;
        }

        .verification-error {
            background: #960216 !important;
        }

        .verification-in-progress {
            background: #1fbdff !important;
        }

        .notice {
            width: 75%;
            font-size: 1.6rem;
            font-style: italic;
            margin-top: 2rem;
        }

        .right-column {
            padding-left: 50px;

            .slider {
                width: 230px;
                margin-bottom: 3rem;

                .tooltip.top {

                    display: none;

                }

                .slider-handle {
                    cursor: pointer;
                    background: $green !important;
                }

                .slider-track, .slider-selection {
                    background-image : linear-gradient(to bottom, $touareg 0%, $touareg 100%);
                }
            }

            .users_count {
                display: block !important;
                font-size: 80px;
                border:none;
                text-align: center;
                width: 230px;
                margin-bottom: 30px;
            }
        }
    }

    #step-3 {

        h3 {
            font-family: $typo4;
            font-size: 2.2rem;
            color: $touareg;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 7rem;
        }

        h4 {
            font-family: $typo2;
            font-size: 16px;
            color: $touareg;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 3rem;
        }
        
        label {
            display: inline-block;
            text-transform: none;
            color: $gray;
            font-family: $typo4;
        }

        .form-group {
            margin-bottom: 0rem;
        }
        
        .free {
            text-decoration: underline;
            font-family: $typo4;
            text-transform: uppercase;
        }
        
        section {
            margin-bottom: 7rem;
        }

        .url {
            text-decoration: underline;
            color: $touareg;
        }
    }

    .amount {
        color: $touareg;
        font-family: $typo4;
        font-size: 30px;
    }

    .invalid {
        border: 1px solid #960216;
    }

    .valid-step-1, .back-step-1, .valid-step-2, .back-step-2, .valid-step-3 {
        display: block;
        margin-right: 25px;
        float: right;
    }
}