.signup_confirmation_template {

    .thanks {
        margin-top: 12rem;
        text-align: center;
    }

    .progress {
        width: 85%;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .platform-ready {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        width: 290px;
    }

    .contact-us {
        font-style: italic;
        margin-top: 10rem;
    }
}