.button {
	border: none;
	border-radius: 0;
 
	background: $blue;
	color: white;
	padding: 10px 20px 10px 20px;

	transition: background 0.50s ease;

	letter-spacing: 1px;
	font-size: 14px;
	text-transform: uppercase;
}

.button:hover {
	background: $touareg;
	color: white;
	text-decoration: none;
}

.button-valid {
	background: $green;
	color: white;
}

.button-valid:hover {
	background: lighten($green, 10%);
	color: white;
}

.button-red {
	display: inline-block;
	background: #ff6164;
	padding: 1rem 2rem 1rem 2rem;
	
	&:hover {
		background: red;
	}
}