$gray_blue : #e8eff1;
$gray : #6a6a6a;
$blue: #6ca6b6;
$touareg : #096a85;
$green : #c8dc1e;

$typo1 : "AvantGarde-Book";
$typo2 : "AvantGarde-Medium";
$typo3: "MyriadPro-Regular";
$typo4: "MyriadPro-Semibold";